body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    color: rgb(0, 255, 106);
}

a{
    text-align: center;
    padding: 1%;
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 106);
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 255, 106);
    background-color: rgb(27, 27, 27);
    box-shadow: 1px 1px 10px, -1px -1px 10px;
}

.containerMain{
    display: block;
    padding: 1%;
    width: 300px;
    max-width: 100%;
    min-width: 50%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;  
    text-align: center;
    border: 1px solid rgb(0, 255, 106);
    border-radius: .5rem;
    box-shadow: 2px 2px 10px rgb(0, 255, 106);
}

.titleContainer{
    display: block;
    padding: 5%;
    margin: 5%;
}

.links{
    padding: 5%;
    margin: 5%;
}